.container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

h1, h2, h3, h4 {
    background-color:rgb(20, 20, 20);
    color:rgb(157, 212, 194);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(99, 160, 196);
    padding: 10px;
}

a:link {
    color:rgb(99, 160, 196);
    text-decoration: none;
}

a:hover {
    color: rgb(143, 207, 245);
}

a:visited {
    color: rgb(101, 99, 196);
}